			/*Toutes les pages*/
body{
		background-color: white;
		font-family: 'Varela Round',sans-serif;
		font-weight: bolder;
		color : black;
}
header {
	background-image: url('img/header1.jpg');
	background-repeat: space-repeat;
	background-size: contain;
	width: 100%;
	height : 0;
	padding-top: 1%;
	padding-bottom : 25%;
	text-align: center;
	font-size: 4vw ;
	font-weight: bolder;
	font-family: cursive,serif;
	color: white;
}
header::before{
	content :"La nutrition sportive avant tout !";}
nav {
	font-size: 24px;
	display: flex;
	flex-flow: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
	border: 1px solid rgb(193, 224, 174);
}
.menuItem{
	color: black;
	width: 20%;
	display: flex;
	justify-content: center;
	flex-flow: nowrap;
}
.menuItem input[type="search"]{
	width: 80%;
	font-size: 0.9em;
}
main {
	font-size: 20px;
    padding: 30px;
    margin: 10px;
	border: 1px solid #edf2e6;
	color: black;
	display : flex;
	flex-flow :row wrap;
}
footer {
    margin: 10px 0px;
    border: solid rgb(193, 224, 174);
    border-width: 1px 0px;
	background-image: url('img/arnold.jpg');
	background-repeat: space-repeat;
	background-size: contain;
	width : 100%;
	height: 0;
	padding-top: 1%;
	padding-bottom: 30%;
	color: black;
	text-align: center;
	font-size: 14pt;
	font-style: italic;
}
footer a{
	text-decoration: underline;
	font-style: italic;
}
h1{
	min-width: 100%;
	margin-top: 0;
}
/*
h2{

}*/

a{
	color : inherit;
	text-decoration: none;
}
audio{
	visibility: hidden;
}
input{
	font-size: 20px;
	font-family: 'Yanone Kaffeesatz',sans-serif;
	font-weight: bolder;
}
			/* Page accueil*/
.desc_site{
	position: relative;
	line-height: 120%;
}
.promo{
	text-align: center;
	font-style: italic;
	width : auto;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.promo em{

	color: #e61515;
	font-style: italic;
	font-weight: bold;
	text-decoration: blink;
}
.promo img{
	width: 200px;
	left: 50%;
	display: block;
	transform: translateX(-50%);
}
			/* Pages de Recherche et Produit*/
#liste_produit{
	display : flex;
	flex-flow :row wrap;
	justify-content: space-between;
}
article{
	padding : 10px 20px;
	margin: 0 0 10px 0 ;
	max-width: 300px;
	border: 1px solid #edf2e6;
	min-width: 120px;
}
.button{
	font-size: 0.9em;
	display: block;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
	height : 1.2em;
	border : 1px solid grey;
	background-color: rgb(235, 235, 235);
	width: 100%;
}
.button:hover{
	border : 1px solid rgb(164, 226, 129) ;
	background-color: rgb(214, 250, 214);
}

.indispo .button{
	opacity: 0.4;
	cursor: not-allowed;
	border : 1px solid grey;
	background-color: rgb(235, 235, 235);
}
.dispo .disponibilite::after{
	content :"✔Disponible";
	color : green;
}
.indispo .disponibilite::after{
	content :"❌ Rupture de stock";
	color : red;
}

.complements{
	margin-left: auto;
	margin-right: auto;
	height: auto;
	max-width: 300px;
	display:block;

}
			/* Page descriptive du produit*/
.produit{
	display: flex;
	flex-flow: row wrap;
	align-content: space-around;
}
.description {
	max-width: 60% ;
	text-align: justify;
	margin-left : 20px;
}
.description .button{
	width : 60%;
}
.bcaa_poudre{
	max-height: 420px;
}
			/*Page Panier */
.panier{
	display: flex;
	justify-content : space-around;
	flex-wrap: wrap;
}
#coord{
	min-width: 150px;
	width : 40%;
	justify-content: center;
}
#coord input {
	width : 95%;
	margin : 0;
	padding: 4px;
	align-self: center;
}
table{
	border-collapse: collapse;
	padding: 10px;
	width: 40%;
}
td,th{
	border: 1px solid black;
	padding: 10px;
	text-align : center;
	padding: 5px;
}
td[colspan]{
	border: 1px solid black;
	padding: 10px;
	text-align : right;
}
.supprimer{
	color: #e61515;
	font-weight: bold;
}
/* Impossible de valider la commande si le panier est vide*/
.vide [type="submit"]{
	opacity: 0.4;
	cursor: not-allowed;
}
			/* Page Qui sommes nous*/
#createur{
	display: flex;
	flex-wrap: wrap ;
	justify-content: space-between;
	/* width: 100%; */
}
#createur section{
	width: 45%;
	padding-left : 5%;
	text-align : justify;
}
#createur img{
	margin-left: auto;
	margin-right: auto;
	height: auto;
	max-width: 300px;
	display:block;

}
			/* Page Compte rendu */
#cr{
	text-align : justify;
	line-height: 120%;
}
			/* Règles inutilisées ? */
/*

*/
